<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <form [formGroup]="post" (ngSubmit)="createPost()">
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Post Title" formControlName="title">
          </fieldset>
          <ul *ngIf="post.dirty && post.get('title').invalid">
            <li *ngIf="post.get('title').errors.required">請輸入標題</li>
          </ul>
          <fieldset class="form-group">
            <textarea class="form-control" rows="8" placeholder="Write your post (in markdown)" formControlName="body"></textarea>
          </fieldset>
          <ul *ngIf="post.dirty && post.get('body').invalid">
            <li *ngIf="post.get('body').errors.required">請輸入內文</li>
            <li *ngIf="post.get('body').errors.minlength">內文至少 {{post.get('body').errors.minlength.requiredLength}} 個字</li>
          </ul>
          <fieldset class="form-group">
            <input class="form-control" type="text" placeholder="Enter tags" #tag (keyup.enter)="addTag(tag.value)">
            <div class="tag-list" formArrayName="tags">
              <span class="label label-pill label-default"
                *ngFor="let tag of tags.controls; let i=index">
                <i class="ion-close-round"></i> {{ tag.value }}</span>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-lg btn-primary pull-xs-right"
            [disabled]="post.invalid">
            Create Post
          </button>

          <pre>{{ post.value | json }}</pre>
        </form>
      </div>

    </div>
  </div>
</div>
